<section class="container">
  <div class="container-presentation">
    <div class="presentation">
      <h1>Olá 👋,</h1>
      <h1>Meu nome é</h1>
      <h1 class="name">Antony Lucas</h1>
      <h2>gosto de criar tecnologias para WEB</h2>
    </div>
    <div class="me">
      <img src="../../../assets/home/me.jpg" alt="" />
    </div>
  </div>
  <div class="continer-scroll-down">
    <span>Conheça meu trabalho</span>
    <a class="scroll-down3" (click)="scrollToXp()">
      <i class="pi pi-angle-down" style="font-size: 1.2rem"></i>
    </a>
  </div>
</section>
<div>
  <app-stack id="stack"></app-stack>
  <app-projects id="xp"></app-projects>
  <app-experience></app-experience>
</div>
