.container-academy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.container-academy h1 {
  font-weight: 500;
}

.container-academy p {
  font-size: 0.8rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container h2 {
  font-weight: 600;
}

.academy-projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 3rem 0;
}

.academy img {
  width: 4rem;
}

.academy {
  width: 50rem;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.academy p {
  font-size: 0.7rem;
}

.academy-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-academy {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.header-academy div {
  margin-left: 1rem;
}

.header-academy h2 {
  font-weight: 600;
}

.date-academy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-academy span {
  font-size: 0.6rem;
  color: #666666;
  margin: 0 5px;
}

.init,
.end {
  padding: 6px 10px !important;
  border-radius: 8px;
  background-color: #d8f5e1;
  color: #4e7e4b !important;
}

@media only screen and (max-width: 768px) {
  .academy {
    width: 18rem;
    padding-bottom: 13px;
  }

  .academy-container {
    flex-direction: column;
  }

  .header-academy h3 {
    font-size: 12px;
  }

  .header-academy p {
    font-size: 10px;
  }

  .date-academy {
    padding: 15px;
    padding-left: 0;
    justify-content: flex-start;
  }
}
